{% load static %}

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'FregatMonitoringApp/style.css' %}">
      {% block furnace_info_script %}{% endblock %}
      {% block furnace_trends_scripts %}{% endblock %}
      {% block auto_melts_log_scripts %}{% endblock %}
      {% block bottling_journal_scripts %}{% endblock %}
      {% block furnace_errors_log_scripts %}{% endblock %}
      {% block shzm_journal_scripts %}{% endblock %}
</head>
<body>

<div class="header-bgd"> <!-- Header-->
       <table width="100%">
       <tr style="height:20px">
          <td><img class="brand-icon" src="{% static 'SPR/images/frg1aklogo.png' %}" ></img></td>
          <td class="black-text cursive">Cloud monitoring service</td>  
          <td class="blak-text">Сервис дистанционного мониторинга и управления</td>
          <td><div>
            <table width="100%"> 
            <tr>
               <td><table>
                 <tr>
                   <td class="black-text" style="font-size: 14px"> Пользователь: </td>

                   <td class="black-text" style="font-size: 12px"> {{user}}     </td>
                 </tr>
                 <tr>
                   <td width=100рх> </td>
                   {% if user.is_authenticated %}
                   <td style="font-size: 12px"><a href="{% url 'FregatMonitoringApp:logout' %}" class="black-text"><i><u>Выйти</u></i></a></td>
                   {% else%}
                   <td style="font-size: 12px"><a href="{% url 'FregatMonitoringApp:login' %}" class="black-text"><i><u>Войти</u></i></a></td>
                   {% endif %}
                 </tr>
                    </table>
               </td>
            </tr>  
            <td>
               <td><table> 
                  <tr class="white-text">
                  </tr>    
                   </table> 
               </td>
            </tr>
            </table>
            </div>
          </td>
       </tr>
       </table>
</div>
<div class="main_container">  <!-- Содержимое полностью-->
  <div class="top_menu_bar">
    <a href="{% url 'FregatMonitoringApp:furnace_1_info' %}" class="top_menu_btn">Печь №1</a> 
    <a href="{% url 'FregatMonitoringApp:furnace_2_info' %}" class="top_menu_btn">Печь №2</a> 
    <a href="{% url 'FregatMonitoringApp:auto_melts_types_info' 1 %}" class="top_menu_btn">Автоплавка</a> 
    <a href="{% url 'FregatMonitoringApp:shzm_page' %}" class="top_menu_btn">ШЗМ</a> 
    <a href="{% url 'FregatMonitoringApp:bottling_page' %}" class="top_menu_btn">Розлив</a> 
    <a href="{% url 'FregatMonitoringApp:sorry_page' %}" class="top_menu_btn">Шнека</a> 
    <a href="{% url 'FregatMonitoringApp:reports_page' %}" class="top_menu_btn">Отчёты</a>    
  </div>
  {% block login %}{% endblock %}
  <div class="current_scr_container">
    <input id='curScr' type='hidden' value='monitor_scr'> 
    
    {% block left_side_bar %}{% endblock %}
    {% block error_message %}{% endblock %}
    {% block furnace_info %}{% endblock %}
    {% block furnace_base_trends%}{% endblock %}
    {% block furnace_errors_log%}{% endblock %}
    {% block reports%}{% endblock %}
    {% block automelts_log %}{% endblock %}
    {% block automelts_info %}{% endblock %}
    {% block melt_mod_card_info %}{% endblock %}
    {% block auto_melts_set_points %}{% endblock %}
    {% block bottling_journal %}{% endblock %}
    {% block current_bottling %}{% endblock %}
    {% block shzm_journal_page %}{% endblock %}
  </div>
</div>

</body>
</html>